.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid whitesmoke;
    margin: auto;
     /* #eb64aa; */
}
.profile-pic {
  /* display: inline;
  margin: 0 auto;
  margin-top: -13%; */
  width: 150%;
}